@font-face {
    font-family: Norse;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

:root {
    --button-bg: #52486d
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

main {
    background-color: white;
    flex: 2;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
}

.logo {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}